@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.HabitIndex {
  text-align: center;
  margin: 0 auto;
  font-family: 'Crimson Pro', serif;
  color: #000000;
  font-size: 2em;
}

.habit-tile {
  text-align: left;
  font-size: .7em;
  background-color: #FFF89C;
  padding: 20px;
  margin: 20px 99px;
  border-radius: 5%;
}

.habit-link {
  color: #000000;
  text-decoration: none;
}

.habit-name {
  font-weight: bold;
}

.habit-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.habit-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2F58CD;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #B4E4FF;
  color: #000000;
}

.top-bar {
  background-color: #B4E4FF;
  color: #000000;
}

.top-bar ul {
  background-color: #B4E4FF;
  color: #000000;
}

.top-bar a {
  color: #000000;
}

.menu button {
  background-color: #2F58CD;
  color: #000000;
  border-radius: 100%;
}

.habit-show {
  text-align: center;
}

.error {
  color: #e83535;
}

.form-group {
  text-align: center;
}

.search-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2F58CD;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 10px 10px 0px;
}

.search-button:hover {
  background-color: #B4E4FF;
  color: #000000;
}

.giphy-tile {
  height: 350px;
  width: 100%;
  margin-bottom: 20px; 
}

.giphy-tile img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
}

.giphy-tile.selected {
  border: 10px solid blue; /* Replace blue with your desired color */
}

label {
  text-align: left;
}

.HabitChainImage {
  width: 400px;
  height: 100%;
  object-fit: cover;
}